html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Poppins', sans-serif;
}
html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: inherit;
}
a:hover{
    color: inherit;
}

:root {
    --bg_blue: #1166e1;
    --seafoam-blue: #4ac8ca;
    --seafoam-light: #5dbcbd;
    --light:#fff;
    --grey: #959595
}
.text-blue  {
    color: var(--bg_blue);
}
.text-light  {
    color: var(--light);
}
.text-grey  {
    color: var(--grey);
}
.text-seafoam  {
    color: var(--seafoam-light);
}


p{
    font-size: 18px;
    line-height: 1.6rem;
}




/*****************Atlantis RCM 404 Page**********************/
.error_img img {
    width: 70%;
    margin: 0 auto;
}
.btn_home_404 {
    width: fit-content;
    padding: 10px 35px;
    background-color: var(--seafoam-blue);
    color: white;
    border-radius: 5px;
    letter-spacing: 0.5px;
    border: 2px solid var(--seafoam-blue);
    transition: all 0.4s ease-in-out;
}
.btn_home_404:hover {
    background-color: white;
    color: var(--seafoam-blue);
    transition: all 0.4s ease-in-out;
}


/*****************Atlantis Navbar**********************/
.atlantis_rcm_nav{
    z-index: 1030;
    background: transparent;
}

.atlantis_rcm_nav_bg {
    background: var(--seafoam-blue) !important;
}

.atlantis_rcm_nav .navbar-brand > img  {
    width: 200px;
    margin-top: 15px;
}

.atlantis_rcm_nav button.navbar-toggler:focus {
    box-shadow: none;
}
.atlantis_rcm_nav li.nav-item {
    margin: 0px 10px;
    height: 40px;
    padding: 10px 5px;
    font-size: 18px;
}

.atlantis_rcm_nav li.nav-item > a {
    color: white;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 500;
    padding: 1px 10px;
    border-radius: 8px;
    border: 2.5px solid transparent;
}
.atlantis_rcm_nav li.nav-item > .active , .atlantis_rcm_nav li.nav-item > a:hover {
    background-color: var(--seafoam-blue);
    color: white;
    border: 2.5px solid white;
}

#solution_menu {
    position: relative;
    transition: all 1s ease-in-out;
}
#solution_menu > a > i.angle-up {
    transform-style: preserve-3d;
    transform: rotateZ(180deg);
}

.sub_menu_solution {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    z-index: 1030;
    top: 50px;
    width: 900px;
    right: -422px;
    border-radius: 15px;
    height: 400px;
    transition: all 0.6s ease-in-out;
}
#solution_menu:hover .sub_menu_solution {
    visibility: unset;
    opacity: 1;
    top: 65px;
    transition: all 0.6s ease-in-out;
}
.sub_menu_solution_active {
    visibility: visible;
    opacity: 1;
    top: 75px;
    transition: all 0.6s ease-in-out;
}

.bg-sol-sb-menu {
    position: relative;
    background: url('../img/menu/img_menu_bg.jpg');
    border-radius: 15px;
}
.bg-sol-sb-menu .polygon_arrow {
    position: absolute;
    top: -28px;
    right: 480px;
}
.sub_menu_title {
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 500;
    line-height: 1.2;
}
.sub_menu_descrip {
    font-size: 14px;
    letter-spacing: 0.6px;
}

.sb_menu_view_all_sol {
    background-color: var(--seafoam-blue);
    color: white;
    width: 50%;
    padding: 5px 20px;
    margin-left: 25px;
    margin-top: 20px;
    text-align: center;
    border-radius: 8px;
    border: none;
}
.grey_article_sb_menu p.sub_menu_descrip {
    margin-left: 20px !important;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 1;
}


.btn_mbl_drpdown {
    color: #fff !important;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 500;
    padding: 1px 10px;
    border-radius: 8px;
}
.btn_mbl_drpdown:active ,  .btn_mbl_drpdown:focus {
    border: 2px solid #fff !important;
    background-color: var(--seafoam-blue);
    color: white;
}
.btn_mbl_drpdown_active {
    border: 2px solid #fff !important;
    background-color: var(--seafoam-blue) !important;
    color: white;
}

/*****************Atlantis Home Page Style Start**********************/

.header_home {
    background-image : url("../img/home/img-header.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center;
    margin-top: -80px;
}

#layer_1 {
    background-image: url("../img/home/header-layer-1.png");
    width: 100%;
    background-size: cover;
    transition:all 1.5s ease-in-out;
    transform: translateX(-100%);
    background-position: center;
}
.layer_1_active {
    transition:all 1.5s ease-in-out !important;
    transform: translateX(0%) !important;
}
.header_content {
    display: none;
}
.hdr_hme_txt_bg {
    width: fit-content;
    padding:  8px;
    font-weight: 700;
    text-shadow: 0px 1px 1px rgba(42, 125, 184, 0.88);
    background: linear-gradient(90deg, rgba(17,102,225,1) 0%, rgba(74,200,202,1) 37%, rgba(68,190,204,0) 100%);
}
.strtBtn_home button {
    background-color: transparent;
    color: white;
    border: 2px solid white;
    transition: all 0.3s ease-in-out  ;
}
.strtBtn_home button:hover {
    color: white;
    background-color: var(--seafoam-blue);
    border: 2px solid white;
    transition: all 0.3s ease-in-out  ;
}

.home-section-1{
    background-color:  var(--bg_blue);
}
.home-section-2{
    background-image: url(../img/home/section2bg.png);
}
.home-section-2 p{
    color: var(--grey);
}




/*Section What we do*/

.what_we_section {
    background-color: var(--bg_blue);
}
.what_home_head p {
    margin-top: 10px;
}
.what_service {
    background-color: white;
    padding: 5px 8px;
    border-radius: 8px;
    width: 20%;
    text-align: center;
    border: 2px solid #fff;
    transition: all .6s ease-in-out ;
    cursor: pointer;
}
.what_we_section .svg_process .process_active {
    background-color: var(--seafoam-blue);
    transition: all .6s ease-in-out
}
.what_we_section .svg_process .process_active > p {
    color: var(--light);
}
.what_service:hover {
    background-color: var(--seafoam-blue);
    transition: all .6s ease-in-out
}
.what_service:hover p {
    color: var(--light);
    transition: all .6s ease-in-out
}
.what_service p {
    margin: 0;
}
.detail_process .process_active {
    display: block;
}
.detail_process .process_inactive {
    display: none;
}


.tag_what_we {
    margin: 0;
    font-weight: 700;
}

.text_process_c {
    text-align: justify;
    width: 80%;
}

/*************Section Services Home**********/
.services-sec-home .vector {
    width: 55px;
    margin: 0 auto;
}
.services-sec-home .card{
    width: 239px;
    height: 197px;
    margin: 0px 44px 22px 36px;
    padding: 22px 22px 24px 36px;
    border-radius: 9px;
    box-shadow: 0px 3px 7px 0 rgba(0, 0, 0, 0.35);
    border: solid 2px #fff;
    background-color: #fff;
    position: relative;
    overflow: hidden;
}
.services-sec-home .button-card{
    width: 90px;
    height: 25px;
    margin: 12px 23px 0 40px;
    padding: 0px 12px 0 16px;
    border-radius: 10px;
    box-shadow: 0px 2px 3px 0 rgba(93, 95, 97, 0.35);
    border: solid 2px #fff;
    background-color: #fff;
    color: #5dbcbd;
    font-size: 16px;
    z-index: 1029;

}
.services-sec-home .card p {
    font-size: 18px;
    margin: 16px 0 11px;
    line-height: 23px;
}
.services-sec-home .content{
    position: absolute;
    background-color:#5dbcbd;
    height: 100%;
    transition: all 0.5s;
    top: 0;
    left: -100%;
    padding: 20px;
    width: 100%;
    margin: 0 0 24px;
    font-size: 14px;
    letter-spacing: 0.64px;
    text-align: left;
    color: #fff;
    border-radius: 9px;

}
.services-sec-home .card:hover .content{
    left: 0;
    background-color: #4ac8ca;
}

/****************Corresponding section Home *******************/

.corresponding_section {
    background-color: var(--bg_blue);
}
.corresponding_section .what_service {
    height: 197px;
    padding: 15px 10px;
}
.corresponding_section .corrsponding_icons {
    width: 85px;
    height: 85px;
    border-radius: 50%;
    display: block;
    margin: 10px auto;
    background-color: #fff;
    padding-top: 10px;
}
.corresponding_section .corrsponding_icons > img {
    width: 45px;
}
.corresponding_section .svg_process .process_active {
    background-color: var(--seafoam-blue);
    transition: all .6s ease-in-out
}
.corresponding_section .svg_process .process_active > p {
    color: var(--light);
}
.text_crrspnding_blck {
    width: 80%;
    line-height: 2;
}


/*****************connect us section home**********************/

.Connect-Us{
    background-image: url(../img/home/section2bg.png);
}
.Connect-Us col-7 , .Connect-Us col-5 {
    padding: 0;
}
.Connect-head{
    letter-spacing: -0.54px;
}
.Connect-para{
    line-height: normal;
    letter-spacing: 0.72px;
}
.seven-form{
    width:100%;
    height: 99.2%;
    padding: 53px 51px 52px;
    box-shadow: 0px 2px 3px 0 #000;
    background-image: linear-gradient(to top, #1166e1, #4ac8ca);
}


.seven-icon{
    width: 23px;
    height: 23px;
    margin-right: 10px;
    padding: 3px;
}
.seven-form .form-group{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: white;
    margin-top: 10px;
}
.seven-form .form-control {
    font-size: 14px;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    border: none;
    padding: 12px;
}
.seven-form .form-control:focus {
    box-shadow: none;
}
.seven-form .btn-7{
    width: 230px;
    height: 36px;
    border-radius: 9px;
    border: solid 2px #fff;
    background-color: #4ac8ca;
    font-size: 14px;
}
.required{
    width: 188px;
    height: 15px;
    font-size: 14px;
    letter-spacing: 0.56px;
    color: #fff;
}
.app-hea{
    font-size: 18px;
    font-weight: bold;
    line-height: normal;
    letter-spacing: 0.72px;
    color: #fff;
}
.foam-para{
    font-size: 14px;
    line-height: normal;
    letter-spacing: 0.56px;
    color: #fff;
}

/*****************testimonial section home**********************/

.home-testimonial-section{
    background-color:  var(--bg_blue);
}
.text-light  {
    color: var(--light);
}
.carousel-control-prev{
    width: 30px;
}
.carousel-control-next{
    width: 30px;
}

.main_testimonial{
    flex-wrap: wrap;
    justify-content: space-evenly;
    display: flex;
    padding-top: 40px;
    width: 90%;
    margin-left: 55px;
}
.testimonial_content:hover{
    color: var(--light);
    background-color: var(--seafoam-blue);
    border: 2px solid white;
}
.testimonial_slide{
    width: 40%;
}

.testimonial_content{
    background-color: #fff;
    padding: 30px;
    border-radius: 9px;
    height: 200px;
}
.testemonial_user{
    padding-left: 35px;
    margin-top: -13px;
}

.testemonial_user img {
    border-radius: 35px;
}
#slide_button{
    border-top: 0;
    border-bottom: 0;
    height: 10px;
    width: 10px;
    border-radius: 100px;
}
.carousel-control-prev-icon , .carousel-control-next-icon{
    border: solid 2px;
    border-radius: 100px;
}


/*****************Recent News**********************/


.eight-img-para{
    margin-top: 17px;
    font-weight: 600;
}
.btn-card{
    width: 138px;
    height: 33px;
    border-radius: 9px;
    border: solid 2px #fff;
    background-color: #fff0;
    color: white;
    font-size: 16px;
}

.overlay {
    position: absolute;
    background: rgba(74, 200, 202,63%);
    opacity: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    transition: all 0.5s ease-in-out;
}
.recent_news_block {
    position: relative;
    max-width: 95%;
    height: auto;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.recent_news_block > .recent_news_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
    border: 2px solid var(--seafoam-blue);
}
.overlay:hover{
    opacity: 1;
    transition: opacity 0.5s;
}
.btn-card:hover{
    background-color: #4ac8ca;
}
/*****************Atlantis Home Page Style End**********************/


/*****************Atlantis Patient Experience Page Style Start**********************/
.header_patient_exp {
    background-image: url("../img/patienteXp/patient_exp_hd.png");
    height: 776px;
}



/*****************Atlantis Patient Experience Page Style End**********************/



/*****************Atlantis RCM Footer**********************/

.footer_contact {
    background-image: url("../img/footer/footer-bg-image.jpg");
    background-size: cover;
}
.footer_contact > div > div.row {
    border-bottom: 1px solid #fff;
}
.footer_contact > div > div > div.border_left {
    border-left: 1px solid #fff;
}
.copyright_line {
    background-color: var(--seafoam-blue);
}
.copyright_line p {
    font-size: 13px;
    margin: 0;
    letter-spacing: 1.5px;
}
.contact_us_footer {
    padding: 10px 25px;
    background-color: var(--seafoam-blue);
    border-radius: 25px;
    border: 2px solid #fff;
    width: fit-content;
    transition: background-color 0.5s ;
    cursor: pointer;
}
.contact_us_footer:hover {
   background-color: transparent;
}
.contact_us_footer a{
    color: #fff;
}
a.getintouch:hover {
    color: var(--seafoam-blue) !important;
    transition:all 0.4s ease-in-out;
}

.footer_solutions_side a:hover , .footer_quick_side a:hover  {
    color: var(--seafoam-blue) !important;
    transition: all .4s ease-in-out;
}
/*****************Atlantis RCM Footer**********************/

/*********************************Patient-Experience-Umar CSS **************************/

/*********************************Patient-Experience-proactive *******************/
.patient_exp_proactive{
    background-color:  var(--bg_blue);
}
.proactive_title h2{
    font-size: 36px;
}
.proactive_description img{
    width: 80px;
}
.pro_active{
    border: none;
    width: 100%;
    display: unset;
}
.pro_active_card{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    height: fit-content;
    border-radius: 10px;
    box-shadow: rgb(0 0 0 / 19%) 0px 10px 20px, rgb(0 0 0 / 23%) 0px 6px 6px;
}

.pro_active_button.active{
    color: white !important;
    background-color: var(--seafoam-blue) !important;
}

.pE_pro_arr_active {
    display: none;
    position: absolute;
    width: 10px;
    top: 15px;
    right: -1px;
}

.active + img.pE_pro_arr_active{
    display: block !important;
}
.pro_active_button{
    margin: auto;
    color: var(--grey) !important;
    background-color: #f1f1f1 !important;
    width: 95%;

}

/****************************Patient-Experience-customers-love css**************************************/

.patient_exp_cus_love{
    background-color:  var(--bg_blue);
}
.cus_love_main_testimonial {
    display: flex;
    padding-top: 40px;
    width: 75%;
    margin: 0 auto;
}

.Cus_love_testimonial_content {
    background-color: #fff;
    padding: 20px;
    border-radius: 9px;
    height: fit-content;
    border: 2px solid #fff;
    transition: all .6s ease-in-out;
    box-shadow: rgb(0 0 0 / 19%) 0px 10px 20px, rgb(0 0 0 / 23%) 0px 6px 6px;
}
.Cus_love_testimonial_content:hover{
    color: var(--light);
    background-color: var(--seafoam-blue);
    border: 2px solid white;
}
.Cus_love_testimonial_user {
    position: absolute;
    bottom: 0px;
    right: 180px;
}
.Cus_love_testimonial_user img {
    border-radius: 35px;
}
/*********************************Patient-Experience-Umar CSS END**************************/


/*********************************  Patient-Experience-Nimra CSS Start   **************************/


/* #######################              Second-section-patient-experience        #######################################*/
.Scnd-sec-PE{
    background-color: var(--bg_blue);
}
.Scnd-sec-PE-card{
    padding: 16px 12px 40px 10px;
    border-radius: 9px;
    box-shadow: 0px 3px 7px 0 rgba(0, 0, 0, 0.35);
    border: solid 2px #fff;
    background-image: linear-gradient(to top, #1166e1, var(--seafoam-blue));
    transition: all 0.6s ease-in;
    height: 100%;
}
.PE-2-asset{
    width: 60px;
    height:  60px;
    margin: 0 auto;
    border: 1px solid white;
    border-radius: 50%;
    transition: all 0.6s ease-in-out;
}
.PE-2-img-inactive{
    display: none;
    width: 40px;
}
.PE-2-img-active {
    width: 40px;
}
.Scnd-sec-PE-card:hover .PE-2-img-inactive{
    display: block;
    transition: all 0.6s ease-in-out;
}

.Scnd-sec-PE-card:hover .PE-2-img-active{
    display: none;
    transition: all 0.6s ease-in-out;
}
.Scnd-sec-PE-card:hover  .PE-2-asset{
    background-color: white;
    border: 1px solid white;
}
.Scnd-sec-PE-card-hea{
    font-size: 28px;
    font-weight: 500;
    letter-spacing: -0.42px;
}
.Scnd-sec-PE-card-para{
    font-size: 16px;
    line-height: normal;
    padding-top: 12px;
}

/* #######################                third-section-patient-experience        #######################################*/

.thrd-sec-PE{
    background-image:url('../img/patient_experience/section2bg.png');
    background-size: cover;
}

.thrd-sec-PE-img{
    box-shadow: rgb(0 0 0 / 19%) 0px 10px 20px, rgb(0 0 0 / 23%) 0px 6px 6px;
}

/* #######################              Five-section-Connection-patient-experience        #######################################*/

.sec5-conn-pat-exper{
    background-image:url('../img/patient_experience/section2bg.png');
    background-size: cover;

}
.sec-5-patExper-card {
    max-width: 347px ;
    height: 400px ;
    padding: 0;
    border: none !important;
    border-radius: 0% !important;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: var(--seafoam-blue);
}
.sec5-conn-hea{
    letter-spacing: -0.54px;
    font-size: 33px;
    font-weight: normal;
}
.sec5-conn-para{
    font-size: 18px;
    line-height: normal;
    letter-spacing: 0.72px;
}



/* #######################              Patient-experience Style End       #######################################*/


/* #######################              Medical-billing Style End       #######################################*/



/*****************Atlantis Medical-Biling Page Style Start**********************/
.header_Medical_Biling{
    background-image: url("../img/medical_billing/img_header.jpg");
    background-repeat: no-repeat;
    height: 80vh;
}
.strtBtn1 {
    background: transparent;
    color: white;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius:5px;
    border: 2px solid white;

}
.strtBtn1:hover {
    background-color: var(--seafoam-blue);
    border: 2px solid white;
    color: white;
}


/* #######################              Second-section-Medical-Biling-Page        #######################################*/
.Scnd-sec-PE-card:hover{
    background-image: linear-gradient(to top, var(--seafoam-blue), #0363ef)  ;
    transition: all .6s ease-in-out;
}
/* #######################              Four-section-Medical-Billing-Page       #######################################*/
.four-sec-MB-standrd{
    background-color: var(--bg_blue);
}

.home-testimonial-section{
    background-color:  var(--bg_blue) !important;
}

.med_bil_sec5 {
    background-image:url('../img/patient_experience/section2bg.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.med_bil_sec5 .what_service {
    height: 197px;
    padding: 15px 10px;
    width: 16%;
}

.med_bil_sec5 .svg_process .process_active {
    background-color: var(--seafoam-blue);
    transition: all .6s ease-in-out;
}
.med_bil_sec5 .corrsponding_icons {
    width: 85px;
    height: 85px;
    border-radius: 50%;
    display: block;
    margin: 10px auto;
    background-color: #fff;
    padding-top: 10px;
}
.med_bil_sec5 .corrsponding_icons img {
    width: 45px;
}
.med_bil_sec5 .svg_process .process_active > p {
    color: var(--light);
}
/* #######################              Medical Billing Style End       #######################################*/





/* #######################              Unyeild Commitment Style Start       #######################################*/


.header_unyeild {
    background-image: url(../img/Unyeild_commit/img-header.png);
    height: 776px;
}

.unyeild-4th-sec {
    background: var(--bg_blue);
}



